$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.gene-summary-container h4 {
  color: #777;
  margin-bottom: 20px;
}

.gene-summary-container .row {
  margin-bottom: 10px;
}

.gene-summary-container .summary-label {
  font-weight: bold;
  text-align: right;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }
}
