<div class="dynamic-content-container gene-summary-container">
  <h4 class="text-muted">Gene {{gene.id}}</h4>
  <div class="row">
    <div class="col-md-4 summary-label">
      Locus:
    </div>
    <div class="col-md-8">
      {{gene.locus}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 summary-label">
      Sequence interval:
    </div>
    <div class="col-md-8">
      {{gene.intervalStart}} - {{gene.intervalStop}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 summary-label">
      Protein name:
    </div>
    <div class="col-md-8">
      {{gene.protein.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 summary-label">
      Summary:
    </div>
    <div class="col-md-8">
      {{gene.summary}}
    </div>
  </div>
</div>
